<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0">
<title>上海世贸</title>

<link rel="shortcut icon" type="image/png" href="/shared/image/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap" rel="stylesheet">

<link href="/share/css/share.css" rel="stylesheet" type="text/css" media="all" />
<link href="/share/css/share_sp.css" rel="stylesheet" media="screen and (max-width:767px)" />

<link href="/css/index.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/index_sp.css" rel="stylesheet" media="screen and (max-width:767px)" />


<script src="/share/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/share/js/shear.js" type="text/javascript"></script>
<script src="/js/index.js" type="text/javascript"></script>
</head>
<body>
  <div id="wrapper">
    <header id="header"></header>

    <article class="article">
      <section class="main_visual">
        <div class="large_inner">
          <h1><img class="image" src="/img/index/img-main.png" width="146" height="500" alt="BVI or Cayman 经济实质申报之前，请先准确分类"></h1>
        </div>
      </section>

      <section class="about">
        <div class="inner">
          <h2 class="section_title"><span>关于世贸</span></h2>
          <div class="about_main">
            <div class="video">
              <img class="image" src="/img/index/img-video.png" width="450" height="254" alt="">
              <div class="sns">
                <p>分享给朋友 :</p>
                <ul>
                  <li class="qr_code">
                    <a href="javascript:return false;"><img src="/img/index/btn-wechat.png" width="30" height="30" alt="微信"></a>
                    <div class="qr_code_block"><img src="/img/index/img-qr_code.jpg" width="258" height="258" alt=""></div>
                  </li>
                  <li class="sns_button" data-type="weibo"><a href="javascript:return false;"><img src="/img/index/btn-weibo.png" width="30" height="30" alt="微博"></a></li>
                  <li class="sns_button" data-type="qq"><a href="javascript:return false;"><img src="/img/index/btn-qq.png" width="30" height="30" alt="QQ"></a></li>
                </ul>
              </div>
            </div>
            <div class="introduction">
              <h3>香港及国际专业企业咨询在中国发展的直属机构<br>专业、诚信、可靠、负责是我们的服务宗旨</h3>
              <p>世贸企业咨询(WTEC)是香港及国际专业企业咨询在中国发展的直属机构。<br>专业、诚信、可靠、负责是我们的服务宗旨。<br>世贸企业咨询(WTEC)期待与您的合作，<br>也希望成为您企业开拓国际市场的最佳合作伙伴！</p>
            </div>
          <!-- / .about_main --></div>
          <div class="button_more"><a href="/about/">MORE</a></div>
        </div>
      <!-- / .about --></section>

      <section class="service section">
        <div class="large_inner">
          <h2 class="section_title"><span>世贸服务</span></h2>
          <ul class="service_list">
            <li><a href="/business/registered/">
              <h3>
                <span class="icon"><img src="/img/index/ico-service_1.png" width="51" height="36" alt="Registration Services 海外公司注册"></span>
                <span class="en">Registration Services</span>
                <span class="cn">海外公司注册</span></h3>
              <div class="photo">
                <img class="image" src="/img/index/img-service_1.png" width="355" height="450" alt="Registration Services 海外公司注册">
                <p class="photo_text">随着企业的对外发展，到海外设立公司也将成为企业发展主的核心诉求，最热门的海外注册地有：香港、新加坡、美国、开曼及BVI等离岸群岛、马来西亚、RAK等等</p>
              </div>
            </a></li>
            <li><a href="/business/accounting/">
              <h3>
                <span class="icon"><img src="/img/index/ico-service_2.png" width="51" height="36" alt="AccountingTax &amp; Audit 会计税务审计"></span>
                <span class="en">AccountingTax &amp; Audit</span>
                <span class="cn">会计税务审计</span></h3>
              <div class="photo">
                <img class="image" src="/img/index/img-service_2.png" width="355" height="450" alt="AccountingTax &amp; Audit 会计税务审计">
                <p class="photo_text">设立海外公司以后，后续税务的合规尤为重要。我们拥有专业的国际会计师，为企业及个人提供专业的做账审计报税工作，解决您海外财税方面的各种问题</p>
              </div>
            </a></li>
            <li><a href="/business/overseas_accout/">
              <h3>
                <span class="icon"><img src="/img/index/ico-service_3.png" width="51" height="36" alt="Offshore Banking 海外银行开戸"></span>
                <span class="en">Offshore Banking</span>
                <span class="cn">海外银行开戸</span></h3>
              <div class="photo">
                <img class="image" src="/img/index/img-service_3.png" width="355" height="450" alt="Offshore Banking 海外银行开戸">
                <p class="photo_text">我们和国际几十家跨国银行有紧密战略合作，可协助您预约银行开户，开户成功率高达100%</p>
              </div>
            </a></li>
            <li><a href="/business/legal_services/">
              <h3>
                <span class="icon"><img src="/img/index/ico-service_4.png" width="51" height="36" alt="Legal Services 全球知识产权"></span>
                <span class="en">Legal Services</span>
                <span class="cn">全球知识产权</span></h3>
              <div class="photo">
                <img class="image" src="/img/index/img-service_4.png" width="355" height="450" alt="Legal Services 全球知识产权">
                <p class="photo_text">我司可提供一切与知识产权相关的服务，包括中央电视台、上海证券交易所，中证指数有限公司等一大批国内外企事业单位和个人提供优良的商标代理和其他知识产权咨询服务</p>
              </div>
            </a></li>
          </ul>
          <div class="button_more"><a href="/business/">MORE</a></div>
        </div>
      <!-- / .service --></section>

      <section class="case section">
        <div class="large_inner">
          <h2 class="section_title"><span>案例分享</span></h2>
          <ul class="case_list">
            <li>
              <div class="photo"><img class="image" src="/img/index/img-case_1.png" width="790" height="450" alt="海外贸易"></div>
              <div class="text">
                <h3>海外贸易</h3>
                <p>简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明。</p>
              </div>
            </li>
            <li>
              <div class="photo"><img class="image" src="/img/index/img-case_2.png" width="790" height="450" alt="税务架构"></div>
              <div class="text">
                <h3>税务架构</h3>
                <p>简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明。</p>
              </div>
            </li>
            <li>
              <div class="photo"><img class="image" src="/img/index/img-case_3.png" width="790" height="450" alt="IPO上市"></div>
              <div class="text">
                <h3>IPO上市</h3>
                <p>简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明简单说明。</p>
              </div>
            </li>
          </ul>
          <div class="button_more"><a href="/case/">MORE</a></div>
        </div>
      <!-- / .service --></section>

      <section class="news section">
        <div class="inner">
          <h2 class="section_title"><span>最新动态</span></h2>
          <div class="news_box">
            <ul class="news_tab">
              <li class="current">行业动态</li>
              <li>公司新闻</li>
            </ul>
            <ul class="news_main current">
              <li>
                <p class="date">2019年08月25日</p>
                <p class="category">行业动态</p>
                <p class="text"><a href="#">又一个完全税收豁免离岸地新贵——阿联酋哈伊马角</a></p>
              </li>
              <li>
                <p class="date">2019年08月24日</p>
                <p class="category">行业动态</p>
                <p class="text"><a href="#">【公司注册】全面阐述纳闽IBFC——亚太中岸国际商业金融中心</a></p>
              </li>
              <li>
                <p class="date">2019年08月17日</p>
                <p class="category">行业动态</p>
                <p class="text"><a href="#">美国最新商标规则——国外商标申请人必须拥有美国律师执照</a></p>
              </li>
              <li>
                <p class="date">2019年08月03日</p>
                <p class="category">行业动态</p>
                <p class="text"><a href="#">财务部  发改委 ‖关于调整专利收费减缴条件的通知</a></p>
              </li>
            </ul>
            <ul class="news_main">
              <li>
                <p class="date">2019年08月25日</p>
                <p class="category">公司新闻</p>
                <p class="text"><a href="#">又一个完全税收豁免离岸地新贵——阿联酋哈伊马角</a></p>
              </li>
              <li>
                <p class="date">2019年08月24日</p>
                <p class="category">公司新闻</p>
                <p class="text"><a href="#">【公司注册】全面阐述纳闽IBFC——亚太中岸国际商业金融中心</a></p>
              </li>
              <li>
                <p class="date">2019年08月17日</p>
                <p class="category">公司新闻</p>
                <p class="text"><a href="#">美国最新商标规则——国外商标申请人必须拥有美国律师执照</a></p>
              </li>
              <li>
                <p class="date">2019年08月03日</p>
                <p class="category">公司新闻</p>
                <p class="text"><a href="#">财务部  发改委 ‖关于调整专利收费减缴条件的通知</a></p>
              </li>
            </ul>
          </div>
          <div class="button_more"><a href="/news/">MORE</a></div>
        </div>
      <!-- / .service --></section>

      <section class="faq section">
        <div class="inner">
          <h2 class="section_title"><span>常见问题</span></h2>
          <ul class="faq_list">
            <li>
              <h3>显著性不高的商标如何在美国注册？</h3>
              <div class="faq_text">
                <p>显著性不高的商标如何在美国注册？显著性不高的商标如何在美国注册？</p>
              </div>
            </li>
            <li>
              <h3>美国最新商标规则——国外商标申请人必须拥有美国律师执照</h3>
              <div class="faq_text">
                <p>据美国商标专利局（USPTO）7月2日于官网发布新的商标法规：任何外国申请人申请美国商标都应当通过获得美国执业许可的律师进行申请。该规定适用于所有商标申请人、注册人以及其永久合法住所或主要营业地点在美国境外的当事人。</p>
              </div>
            </li>
            <li>
              <h3>美国最新商标规则——国外商标申请人必须拥有美国律师执照</h3>
              <div class="faq_text">
                <p>据美国商标专利局（USPTO）7月2日于官网发布新的商标法规：任何外国申请人申请美国商标都应当通过获得美国执业许可的律师进行申请。该规定适用于所有商标申请人、注册人以及其永久合法住所或主要营业地点在美国境外的当事人。</p>
              </div>
            </li>
          </ul>
          <div class="button_more"><a href="/faq/">MORE</a></div>
        </div>
      <!-- / .service --></section>
    </article>

    <footer id="footer"></footer>
  <!-- / #wrapper --></div>
</body>
</html>
